@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 302 57% 100%;
    --foreground: 302 63% 4%;
    --muted: 62 24% 87%;
    --muted-foreground: 62 9% 36%;
    --popover: 0 0% 99%;
    --popover-foreground: 302 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 302 63% 3%;
    --border: 302 10% 92%;
    --input: 302 10% 92%;
    --primary: 302 81% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 62 81% 54%;
    --secondary-foreground: 62 81% 14%;
    --accent: 182 81% 54%;
    --accent-foreground: 182 81% 14%;
    --destructive: 21 99% 29%;
    --destructive-foreground: 0 0% 100%;
    --ring: 302 81% 54%;
    --chart-1: 302 81% 54%;
    --chart-2: 62 81% 54%;
    --chart-3: 182 81% 54%;
    --chart-4: 62 81% 57%;
    --chart-5: 302 84% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 302 33% 4%;
    --foreground: 302 28% 99%;
    --muted: 62 24% 13%;
    --muted-foreground: 62 9% 64%;
    --popover: 302 33% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 302 33% 5%;
    --card-foreground: 0 0% 100%;
    --border: 302 10% 14%;
    --input: 302 10% 14%;
    --primary: 302 81% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 62 81% 54%;
    --secondary-foreground: 62 81% 14%;
    --accent: 182 81% 54%;
    --accent-foreground: 182 81% 14%;
    --destructive: 21 99% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 302 81% 54%;
    --chart-1: 302 81% 54%;
    --chart-2: 62 81% 54%;
    --chart-3: 182 81% 54%;
    --chart-4: 62 81% 57%;
    --chart-5: 302 84% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
