@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 302 57% 100%;
    --foreground: 302 63% 4%;
    --muted: 62 24% 87%;
    --muted-foreground: 62 9% 36%;
    --popover: 0 0% 99%;
    --popover-foreground: 302 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 302 63% 3%;
    --border: 302 10% 92%;
    --input: 302 10% 92%;
    --primary: 302 81% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 62 81% 54%;
    --secondary-foreground: 62 81% 14%;
    --accent: 182 81% 54%;
    --accent-foreground: 182 81% 14%;
    --destructive: 21 99% 29%;
    --destructive-foreground: 0 0% 100%;
    --ring: 302 81% 54%;
    --chart-1: 302 81% 54%;
    --chart-2: 62 81% 54%;
    --chart-3: 182 81% 54%;
    --chart-4: 62 81% 57%;
    --chart-5: 302 84% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 302 33% 4%;
    --foreground: 302 28% 99%;
    --muted: 62 24% 13%;
    --muted-foreground: 62 9% 64%;
    --popover: 302 33% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 302 33% 5%;
    --card-foreground: 0 0% 100%;
    --border: 302 10% 14%;
    --input: 302 10% 14%;
    --primary: 302 81% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 62 81% 54%;
    --secondary-foreground: 62 81% 14%;
    --accent: 182 81% 54%;
    --accent-foreground: 182 81% 14%;
    --destructive: 21 99% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 302 81% 54%;
    --chart-1: 302 81% 54%;
    --chart-2: 62 81% 54%;
    --chart-3: 182 81% 54%;
    --chart-4: 62 81% 57%;
    --chart-5: 302 84% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
